# Metadata
title: InvenTree
tagline: Intuitive Inventory Management
description: >-
  InvenTree is an open-source inventory management system which provides intuitive parts management and stock control.
  It is at the center of an ecosystem of addins for EDA tools, API wrapper, deeply integrated plugins and 3rd party tools.

# Links
demo-link:
  internal: demo.md
doc-link: https://docs.inventree.org/en/latest/
deploy-link:
  internal: deploy.md
blog-link:
  internal: blog.html
plugin-link: 
  internal: plugins.html
contribute-link:
  internal: contribute.md

# Hosting parameters
baseurl: ""
url: ""

# Analytics
analytics-domain: umami.invenhost.com/umami.js
analytics-id: c713a5e9-25cf-4bb6-9e84-ceb041a53986

# Rendering settings - do not touch
collections:
  publishers:
    output: true
    permalink: "/:title"
  repo:
    output: true
    permalink: ":doc_author/:title"
  news:
    output: true
    permalink: /news/:year/:month/:day/:title
  posts:
    permalink: /blog/:year/:month/:day/:title

defaults:
  - scope:
      path: ""
      type: "publishers"
    values:
      layout: "publisher"
  - scope:
      path: ""
      type: "repo"
    values:
      layout: "plugin"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "collection/post"
  - scope:
      path: ""
      type: "news"
    values:
      layout: "collection/news"
  - scope:
      path: ""
    values:
      layout: "content"

feed:
  path: /blog/feed.atom
  excerpt_only: true

  collections:
    news:
      path: "/news/feed.atom"

plugins:
  - jekyll-seo-tag
  - jekyll-postcss-v2
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-mentions
  - jekyll_custom_permalink

exclude: [
  package.json,
  package-lock.json,
  postcss.config.js,
  README.md,
  tailwind.config.js,
  LICENSE,
]
