---
layout: default
title: Blog
---
  <section class="text-gray-600 body-font overflow-hidden min-h-screen">
    <div class="container px-5 py-24 mx-auto">
      <h1 class="header-text title-font mb-4 cm-gray-2">InvenTree Blog</h1>
      <div class="flex flex-wrap -m-12">

      {% for post in site.posts %}
        <div class="p-12 md:w-1/2 flex flex-col items-start">
          <h2 class="header-text title-font mb-4 cm-gray-1">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </h2>
          <span class="leading-relaxed mb-8">{{ post.excerpt }}</span>
          {% include partial/publisher_ref.html pub=post.publisher %}
        </div>
      {% endfor %}
      </div>
    </div>
  </section>
