<section class="cm-gray-2 body-font">
    <div class="section-container">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="text-2xl font-medium title-font mb-4 cm-gray-1 tracking-widest">OUR TEAM</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{{ include.data.text }}</p>
        </div>
        <div class="flex flex-wrap -m-4">

            {% for item in include.data.team %}
            <div class="p-4 lg:w-1/2">
                <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
                    <div class="flex-grow sm:pl-8">
                        <h2 class="title-font font-medium text-lg cm-gray-1">{{ item.tag }}</h2>
                        <h3 class="cm-gray-3 mb-3">{{ item.name }}</h3>
                        <p class="mb-4">{{ item.text }}</p>
                        <span class="inline-flex">
                          {% for link in item.links %}
                          <p>{{link.link}}</p>
                          <a class="cm-gray-3" href="{% include fnc/link.html item=link.link %}" alt="learn more">{{ link.text }} <img class="w-4 h-4 ml-2" src="{{ '/assets/learn.svg' | relative_url }}" /></a>
                          {% endfor %}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>