<footer class="cm-gray-2 body-font">
    <div class="container px-5 py-8 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
      <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <a class="flex title-font font-medium items-center md:justify-start justify-center cm-gray-1">
          <img src="/assets/logo.png" class="h-8">
          <span class="ml-3 text-xl">{{ site.title }}</span>
        </a>
        <p class="mt-2 text-sm cm-gray-3">{{ site.tagline }}</p>
      </div>

      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
      
      {% for cat in site.data.footer %}
        <div class="lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="footer-categorie title-font">{{ cat.title }}</h2>
          <nav class="list-none mb-10">
            {% for item in cat.cats %}
            <li>
              <a href="{% if item.site %}{{ site[item.site] }}{% else %}{{ item.link }}{% endif %}" class="footer-link">{{ item.name }}</a>
            </li>
            {% endfor %}
          </nav>
        </div>
      {% endfor %}

      </div>
    </div>

    <div class="bg-gray-100">
      <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
        <p class="cm-gray-3 text-sm text-center sm:text-left">© 2021 {{ site.title }} — made with love by
          <a href="https://github.com/matmair" rel="noopener noreferrer" class="cm-gray-2 ml-1" target="_blank">@matmair</a>
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
          <a href="https://github.com/inventree/InvenTree" class="ml-3 cm-gray-3">
            <svg class="h-5 w-5 cm-gray-3" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 0C4.477 0 0 4.484 0 10.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0110 4.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.203 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.942.359.31.678.921.678 1.856 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0020 10.017C20 4.484 15.522 0 10 0z" clip-rule="evenodd"></path></svg>
          </a>
        </span>
      </div>
    </div>
  </footer>