---
layout: empty
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer components {
    .custom-underline-blue {
        @apply border-b-4 border-blue-400;
    }

    .footer-link {
        @apply text-gray-600 hover:text-gray-800
    }

    .footer-categorie {
        @apply font-medium text-gray-900 tracking-widest text-sm mb-3
    }

    .cm-hvr-btn {
        @apply text-gray-700 bg-gray-100 hover:bg-gray-200 rounded
    }

    .cm-gray-1 {
        @apply text-gray-900
    }

    .cm-gray-2 {
        @apply text-gray-600
    }

    .cm-gray-3 {
        @apply text-gray-500
    }

    a.anchor {
        display: block;
        position: relative;
        top: -72px;
        visibility: hidden;
    }
}
