<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ '/assets/splide/css/splide.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/index.css' | relative_url }}">
<link rel="shortcut icon" type="image/png" href="{{ '/assets/icon/favicon.ico' | relative_url }}">

<script src="{{ '/assets/splide/js/splide.min.js' | relative_url }}"></script>

<!-- Fontawesome integration -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
<meta itemprop="description" name="description"
    content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />

{% seo %}