---
layout: content
notitle: true
fullwith: true
---
<h2>{{ page.name }}
<span class="sm:ml-2 text-sm">{% include partial/publisher_ref.html pub=page.author %}</span>
</h2>

<div class="md:flex md:flex-row flex-wrap">
    <div class="w-full md:w-3/4">
        {{ content }}
    </div>

    <div class="w-full md:w-1/4">
      <h2 class="block sm:hidden">Link section</h2>
      <div>

        <div>
          <h4 class="fst-italic">Github</h4>
          <p>{{ page.github | remove: "https://github.com/" }}</p>
          <a href="{{ page.github }}" class="stretched-link" aria-label="open github repo"></a>
        </div>

        <div>
          <h4 class="fst-italic">Categories</h4>
          <ol class="list-unstyled">
            {% for categorie in page.categories %}
            <li><a href="/categories/#{{ categorie | slugify }}"><span class="badge bg-yellow-500">{{ categorie }}</span></a></li>
            {% endfor %}
          </ol>
        </div>

        <div>
          <h4 class="fst-italic">Tags</h4>
          <ol class="list-unstyled">
            {% for tag in page.tags %}
            <li><a href="/tags/#{{ tag | slugify }}"><span class="badge bg-blue-400">{{ tag }}</span></a></li>
            {% endfor %}
          </ol>
        </div>

        <div>
          <h4 class="fst-italic">Website</h4>
          <p>{{ page.website }}</p>
          <a href="{{ page.website }}" class="stretched-link" aria-label="open website"></a>
        </div>

      </div>
    </div>
</div>
