---
layout: content
notitle: true
fullwith: true
---
<h2>{{ page.name }}
<span class="sm:ml-2 text-sm">{% include partial/publisher_ref.html pub=page.author %}</span>
</h2>

<div class="flex-wrap md:flex md:flex-nowrap">
    <div class="w-full md:w-auto md:mr-4">
        {{ content }}
    </div>

    <div class="w-full md:w-1/4">
      <h2 class="block sm:hidden">Link section</h2>
      <div>

        <a href="{{ page.github }}" class="no-underline" aria-label="open github repo">
        <div>
          <h4 class="fst-italic">Github</h4>
          <p>{{ page.github | remove: "https://github.com/" }}</p>
        </div>
        </a>

        <div>
          <h4 class="fst-italic">Categories</h4>
          <ul class="list-unstyled">
            {% for categorie in page.categories %}
            <li><a href="/categories/#{{ categorie | slugify }}"><span class="badge bg-yellow-500">{{ categorie }}</span></a></li>
            {% endfor %}
          </ul>
        </div>

        <div>
          <h4 class="fst-italic">Tags</h4>
          <ul class="list-unstyled">
            {% for tag in page.tags %}
            <li><a href="/tags/#{{ tag | slugify }}"><span class="badge bg-blue-400">{{ tag }}</span></a></li>
            {% endfor %}
          </ul>
        </div>

        <a href="{{ page.website }}" class="no-underline" aria-label="open website">
        <div>
          <h4 class="fst-italic">Website</h4>
          <p>{{ page.website }}</p>
        </div>
        </a>

      </div>
    </div>
</div>
