name: Get stats

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
         token: ${{ secrets.BOT_PAT }}
      - name: Get Stats
        run: python .github/get_stats.py
        env:
          CROWDIN_TOKEN: ${{ secrets.CROWDIN_TOKEN }}
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "[Bot] Updated the stats"
          branch: main
